/*

Primary: #065FD6
Compliementary: #D67C06
Analagous: #06C8D6, #1406D6
Triadic: #7C06D6, #D60660

*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --primary: #065FD6;
    --compliment: #d67c06;
    --analagous1: #06C8D6;
    --analagous2: #1406D6;
    --triadic1: #7C06D6;
    --triadic2: #D60660;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
   padding-top: 60px;
}

.construction {
    text-align: center;
    font-weight: 300;
}

.navbar {
    background-color: #00869e;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #9e1800;
    color: white;   
}

.main {
    margin-top: 4%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#00869e;
    color: white;
    text-align: center;
}

footer a:hover {
    color: #d67c06
}
